.producto h2{
    font-size: 30px;
    color: #d2cfcf;
    font-family: 'Copperplate','Serif';
    text-align: left;
    margin-left: 20px;
  }
  
.producto-info {
    display: flex;               /* Usa flexbox para poner todo en línea */
    justify-content: left;     /* Centra los elementos */
    align-items: flex-start;     /* Alinea todo arriba */
    gap: 20px;                   /* Espacio entre la imagen y el texto */
    margin-left: 20px;
}
  
.producto-info img {
    width: 150px;                /* Tamaño de la imagen */
    height: auto;                /* Mantener proporción */
}
  
.descripcion {
    color: #d2cfcf;
    font-family: 'Copperplate','Serif';
    display: flex;
    flex-direction: column;      /* Pone los divs uno debajo del otro */
    gap: 30px;                   /* Espacio entre los divs */
    text-align: left;            /* Alinea el texto a la izquierda */
}



.envio {
    background-color: #1a1a1a;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    padding: 50px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 20px;
}

select {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 12px;
    border: ridge;
    width: 300px;
    background-color: #1a1a1a;
    color: #d2cfcf;

}

table {
    color: #d2cfcf;
    font-family: 'Copperplate','Serif';
    line-height: 3;

}

.table td:first-child {
    text-align: left;
}

.table td:last-child {
    text-align: right;
}


.contenedor{
    background-color: #1a1a1a;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 12px;
    margin-right: 20px;
}

.timeline{
    display: flex;
    gap: 40px;
    align-items: center;
}

.estado{
    text-align: center;
}

.circulo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.completado .circulo {
    background-color: green;
    border: ridge;
}

.pendiente .circulo {
    background-color: black;
    border: ridge;
}

.estado p {
    margin: 0;
    font-size: 14px;
    color: #d2cfcf;
    font-family: 'Copperplate','Serif';
}