.container 
{
  max-width: 1000px;
  margin: auto;
  background: #333;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  min-height: 600px;
}

.Filtro-tabla {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Copperplate", serif;
  color: #d2cfcf;
}

.Filtro-tabla input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #d2cfcf;
  color: #1a1a1a;
}

h2 
{
  text-align: center;
  margin-bottom: 35px;
  color: #d2cfcf;
  font-family: "Copperplate", serif;
  font-size: 35px;
}

table
{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #d2cfcf;
  font-family: 'Copperplate', Serif;
  margin-top: 30px;
}

th
{
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid;
  color: #d2cfcf;
  font-family: "Copperplate", serif;
  font-size: 16px;
}

td
{
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid;
  color: #1a1a1a;
  background-color: #d2cfcf;
  font-family: "Copperplate", serif;
  font-size: 16px;
}

th 
{
  background-color: #1a1a1a;
  color: #d2cfcf;
}

.Confirmacion-de-pago
{
  text-align: end;
}

.Filtro-de-pago 
{
  background-color: #1a1a1a;
  color: #d2cfcf;
  border-radius: 6px;
}

tr:hover 
{
  background-color: #f1f1f1;
}