body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 30px;
  }

  .container {
    max-width: 1000px;
    margin: auto;
    background: #333;
    padding: 20px;
    border-radius: 10px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid;
  }

  th {
    background-color: black;
    color: white;
  }

  .Confirmacion-de-pago {
    text-align: end;
  }

  .Filtro-de-pago {
    color: white;
    background-color: black;
    border-radius: 10px;
  }

  tr:hover {
    background-color: #f1f1f1;
  }