.Slate-1 
{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px;
    background-color: #333;
    color: #d2cfcf;
    font-family: 'Copperplate', Serif;
    justify-content: center;
    min-height: 800px;
    height: auto;
}
  
.Imagenes 
{
    flex: 1;
    min-width: 280px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
  
.Imagenes img 
{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
  
.Detalles 
{
    flex: 10;
    min-width: 300px;
    max-width: 600px;
}
  
.Detalles h2 
{
    margin-top: 0;
    font-size: 32px;
}
  
select 
{
    margin: 10px 0 20px;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Copperplate', Serif;
    background-color: #d2cfcf;
    color: #111;
    border: none;
    cursor: pointer;
}
  
.Txt-Detalles 
{
    line-height: 1.7;
    font-size: 16px;
}

button
{
    display: inline-block;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 16px;
    font-family: 'Copperplate', Serif;
    background-color: #1a1a1a;
    color: #d2cfcf;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

